<!DOCTYPE html>

<html lang="pt-br">

<head>

    <meta charset="UTF-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Document</title>

</head>

<body>
    <div class="landing-page">
        <div class="container">
            <div class="header-area">
                <div class="logo">Jefferson <b>Caminhões</b></div>
                <ul class="links">
                    <li>Início</li>
                    <li>Sobre Nós</li>
                    <li>Trabalho</li>
                    <li>Informações</li>
                    <li>Cadastre-se</li>
                </ul>
            </div>
            <div class="info">
                <h1>"Ohayo, Jefferson Caminhões"</h1>
                <p>Caminhoneiro, conectamos você a mais de 17 mil transportadoras!</p>
                <button>Baixe nosso app</button>
            </div>
            <div class="image">
                <img src="~/css/IMAGEM DO NEGOCIO JEFFERSON CAMINHÕES.png">
            </div>
            <div class="clearfix"></div>
        </div>
    </div>


    <a href=""><img class=" apple" src="~/css/LOGO APPLE.png" height="100" width="300" /></a>




    <img class="appstore" src="~/css/LOGO GOOGLE PLAT.png" height="110" width="310"/>



</body>

</html>